.Name-style {
  /* text-align: center; */
  color: rgb(68, 0, 255);
}

.Job-style {
  /* text-align: center; */
  color: red;
}

.Hobbies-style {
  /* text-align: center; */
  color: rgb(0, 255, 166);
}
